/* SIDEBAR */

.sidebar {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 16px 0 0;
}

.logo {
    display: flex;
    border-radius: 8px;
    padding: 0 16px 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
    list-style-type: none;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
}

.sidebar nav ul li .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

/* LIBRARY */

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 10px;
    flex-direction: column;
}

.library .library__button {
    margin-right: 10px;
    width: 100%;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library__button:hover {
    color: white;
    text-decoration: underline;
}

.library .library__button .fa {
    font-size: 20px;
    font-weight: 300;
    color: #b3b3b3;
    margin-right: 10px;
    padding-right: 8px;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library__content .fa-plus {
    margin: 24px 10px;
}

.library__content .fa-plus:hover {
    color: white;
    cursor: pointer;
}

/* SIDEBAR PLAYLIST */

.section-playlist {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
    background-color: #242424;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding:16px 20px;
    border-radius:10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist .section-playlist__content .text {
    padding: 0 0 14px 0;
    color: white;
}

.section-playlist .section-playlist__content .title {
    font-weight: 700;
}

.section-playlist .section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

.section-playlist__content .section-playlist__button {
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    width: 113px;
    margin-top: 12px;
}

.section-playlist__content .section-playlist__button:hover {
    background-color: #b3b3b3;
}


/* COOKIES */

.sidebar .cookies{
    margin:20px 20px;
}

.sidebar .cookies a{
    color:#b3b3b3;
    font-weight: 500;
    font-size:0.625rem;
    text-decoration: none;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

/*LANGUAGES*/

.languages .languages__button{
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color:#FFF;
    font-weight: bold;
    cursor:pointer;
    width: 170px;
    margin:8px;
    padding:8px;
    border-radius:20px;
    font-size: 0.85rem; 
}

.languages .languages__button:hover {
    transform: scale(1.02);
    transform-origin: center;
    transition: transform 0.2s ease;
}

/* DISCLAIMER */

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgb(162, 31, 158), rgb(0, 205, 237), rgb(4, 178, 65));
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-premium .text {
    flex-shrink: 0;
}

.display-premium, .disclaimer-premium__title {
    font-weight: bold;
    font-size: 0.75rem;
    margin-bottom: 10px;
    font-size: 0.875rem;
}

.display-premium, .disclaimer-premium__subtitle {
    font-size: 0.750rem;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    flex-shrink: 1;
}

.disclaimer-premium button {
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    flex-shrink: 1;
    
}

.disclaimer-premium button:hover {
    background-color: black;
    color: white;
    transform: scale(1.02);
    transform-origin: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}